
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    background-color: #E3E8F8;

    & > main {
        max-width: 1440px;
        margin: 0 auto;
        padding: 56px;

        @media (max-width: 768px) {
            padding: 30px;
        }

        & > section:first-child {
            padding: 45px;
            background-color: white;
            border-radius: 16px;
            box-shadow: 2px 4px 16px 0px rgba(32, 53, 98, 0.47);

            & > span {
                font-size: 32px;
                font-weight: 600;
                line-height: 140%;
                color: #203562;
                font-family: Montserrat;
            }

            & > form {
                display: flex;
                flex-direction: column;

                & > input:first-child {
                    font-size: 32px;
                    font-weight: 500;
                    line-height: 140%;
                    color: #203562;
                    font-family: Montserrat;
                    margin-top: 22px;
                    border: none;
                    outline: none;
                }

                & > textarea {
                    font-size: 24px;
                    font-weight: 500;
                    line-height: 140%;
                    color: #203562;
                    font-family: Montserrat;
                    border: none;
                    outline: none;
                    margin-top: 38px;

                    &::placeholder {
                        opacity: 0.7;
                    }
                }

                & > button {
                    cursor: pointer;
                    margin-top: 38px;
                    width: fit-content;
                    font-size: 18px;
                    font-weight: 500;
                    line-height: 140%;
                    color: #203562;
                    padding: 15px 25px;
                    background-color: #E3E8F8;
                    border: none;
                    border-radius: 10px;
                }
            }
        }
        
        & > section:last-child {
            margin-top: 83px;
            display: flex;
            flex-direction: column;
            
            & > div:first-child {
                display: flex;
                align-items: center;

                span {
                    font-size: 24px;
                    font-weight: 600;
                    line-height: 140%;
                    color: #203562;
                    font-family: Montserrat;
                    margin-left: 16px;
                }
            }

            & > div:last-child {
                display: grid;
                grid-template-columns: repeat(3, minmax(0, 1fr));
                column-gap: 24px;
                row-gap: 24px;
                margin-top: 20px;

                @media (max-width: 1024px) {
                    grid-template-columns: repeat(2, minmax(0, 1fr));
                }

                @media (max-width: 768px) {
                    grid-template-columns: repeat(1, minmax(0, 1fr));
                }

                & > div {
                    width: 100%;
                    padding: 22px;
                    background-color: white;
                    border-radius: 16px;
                    box-shadow: 2px 4px 16px 0px rgba(32, 53, 98, 0.47);
                    display: flex;
                    flex-direction: column;
                    min-height: 300px;

                    & > div:first-child {
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                        column-gap: 10px;

                        & > span {
                            font-size: 24px;
                            font-weight: 600;
                            line-height: 140%;
                            color: #203562;
                            font-family: Montserrat;
                        }

                        & > div {
                            display: flex;
                            column-gap: 6px;
                            
                            button {
                                cursor: pointer;
                                border: none;
                                background: none;
                            }
                        }
                    }

                    & > p {
                        font-size: 16px;
                        font-weight: 500;
                        line-height: 140%;
                        color: #203562;
                        font-family: Montserrat;
                        margin-top: 10px;
                        flex-grow: 1;
                    }

                    & > span {
                        font-size: 16px;
                        font-weight: 500;
                        line-height: 140%;
                        color: #203562;
                        font-family: Montserrat;
                        margin-top: 16px;
                    }
                }
            }
        }
    }
}